<div class="row">
    <div class="col ">
        <table class="table table-hover table-responsive">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Name</th>
                    <th scope="col">Description</th>
                    <th scope="col">Price</th>
                    <th scope="col">Quantity</th>
                    <th scope="col">Manufactured Date</th>
                    <th scope="col">Expiry Date</th>
                </tr>
            </thead>
            <tbody>
                <tr (click)="itemClicked(grocery)" class="shadow-sm p-3 grocery-row" *ngFor="let grocery of groceries">
                    <td scope="row">{{ grocery.id }}</td>
                    <td>
                        {{grocery.name}}
                    </td>
                    <td>
                        {{grocery.description}}</td>
                    <td>
                        {{grocery.unitPrice}}</td>
                    <td>
                        {{grocery.quantity}}</td>
                    <td>
                        {{grocery.manufacturedDate | date:'yyyy-MM-dd'}}</td>
                    <td>
                        {{grocery.expiryDate | date:'yyyy-MM-dd'}}</td>
                </tr>
            </tbody>
        </table>

        <div class="d-flex justify-content-between p-2">
            <ngb-pagination [collectionSize]="collectionSize" [(page)]="page" [pageSize]="pageSize">
            </ngb-pagination>

            <select class="custom-select" style="width: auto" [(ngModel)]="pageSize">
                <option [ngValue]="pageSizes[0]">5 items per page</option>
                <option [ngValue]="pageSizes[1]">10 items per page</option>
                <option [ngValue]="pageSizes[2]">50 items per page</option>
            </select>
        </div>
    </div>
    </div>